.tab-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.tab-item {
  margin: 10px;
  color: navy;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
}
li:hover {
  border: 1px solid bisque;
  border-radius: 2px;
  /* background-color: goldenrod; */
  box-shadow: 1px 2px 3px 4px blue;
}
/* hr {
  width: 60%;
} */
